body,ul,ol,li,h1,h2,h3,h4,h5,h6,form,dt,dl,p,fieldset,table,td,img,div,dl,dt,dd,input{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
}
img{
	border:none;
}
li{
	list-style:none;
}
input,select,textarea{
	outline:none;
	border: none;
	background: none;
}
input[type="button"],input[type="submit"],input[type="radio"]{
	cursor: pointer;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
}
.clearfix:after{
	content:"";display:block;clear:both;
}
.clearfix{
	zoom:1;
}
.fl,.leftarea{
	float: left;
}
.fr,.rightarea{
	float: right;
}

.wrap{width: 1000px;margin: 0 auto;}
.footerWrap{width: 1000px;margin: 0 auto;}
 